@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --spacing: 18px;
    --spacing-small: 6px;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 2.8em;
    --font-regular: 2em;
    --font-medium: 16px;
    --font-small: 14px;
    --font-micro: 12px;

    --header-height: 100px;
    --footer_heigth: 120px;

    --stepInfo-width:700px;

    --title-top-margin:200px;
    --title-font-weigth : 400;
    --subTitle-font-weigth : 100;
    --title-font-size : 36px;
    --subTitle-font-size : 20px;
    --between-title-subTitle : 10px;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0; /* 시작 상태: 투명 */
    }
    100% {
        opacity: 1; /* 종료 상태: 완전히 나타남 */
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Noto Sans KR', sans-serif;
}

body {

}

@media (max-width:1023px) {
    body {
        min-width: 700px;
    }
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.mainBody {
    background-image: url('/image/main_img.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-right: 200px;
}

/* 타블렛 */
@media (max-width:1023px) {
    .mainBody {
        padding-right: 150px;
    }
}

/* 모바일 */
@media (max-width:767px) {
    .mainBody {
        padding-right: 50px;
    }
}

.home {
    text-align: right;
    margin-top: 150px;
}

h1 {
    font-weight: 500;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.projectInfo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.projectInfo img{
    margin-right: 10px;
    width: 5.5em;
}

.projectInfo span{
    color: #e56e27;
    font-size: var(--font-large);
}

.contentList {
    margin-top: 30px;
}
.contentList li {
    display: block;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.contentList li a{
    font-weight: 300;
    font-size: var(--font-regular);
    border-bottom: 0.05em solid black;
    padding: 5px 3px;
    color: black;
}

.contentList li a:hover{
    border-bottom: 0.05em solid #595b5c;
    color: #595b5c;
}

footer {
    text-align: right;
}

.teamInfo {
    display: inline-block;

}

.error_message {
    font-size: var(--font-medium);
    color: red;
}

.rehabilitation_table {
    margin:auto;
    border: 1px solid silver;
}

.rehabilitation_table th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid silver;
}

.rehabilitation_table tbody tr :hover{
   cursor: pointer;
   background-color: lightgray;
}

.rehabilitation_table tbody tr:hover td {
    background-color: lightgray;
}

.rehabilitation_detail_table {

}
.rehabilitation_detail_table td{
    padding: 10px;
}

.patient_registry {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.patient_registry input{
    width: 400px;
    height: 50px;
    padding-left: 7px;
    font-size: 17px;
}

.patient_registry > form > div{
    margin-top: 20px;
}

.patient_registry > form > div > div{
    margin-top: 7px;
}

.patient_registry .submit_btn{
    padding: 0;
    height: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.patient_registry .submit_btn:hover{
    background-color: #212121;
}

/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 1500px;
    padding:5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-fill th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:16px;
    font-weight: 400;
    padding:20px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.table-fill th:first-child {
    border-top-left-radius:3px;
}

.table-fill th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

.table-fill tr:first-child {
    border-top:none;
}

.table-fill tr:last-child {
    border-bottom:none;
}

.table-fill tr:nth-child(odd) td {
    background:#EBEBEB;
}

.table-fill tr:nth-child(odd):hover td {
    background:#4E5066;
}

.table-fill tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.table-fill tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.table-fill td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
    border-right: 0px;
}

.table-fill th.text-left {
    text-align: left;
}

.table-fill th.text-center {
    text-align: center;
}

.table-fill th.text-right {
    text-align: right;
}

.table-fill td.text-left {
    text-align: left;
}

.table-fill td.text-center {
    text-align: center;
}

.table-fill td.text-right {
    text-align: right;
}


.table-details {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1),
    0 0px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-details th {
    color:black;
    background:#EBEBEB;
    font-size:16px;
    font-weight: 500;
    padding: 10px 20px 10px 10px;
    border-right: none;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.table-details th:first-child {
    border-top-left-radius:3px;
}

.table-details th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.table-details tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-details tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

.table-details tr:first-child {
    border-top:none;
}

.table-details tr:first-child td{
    border-top:none;
}

.table-details tr:last-child {
    border-bottom:none;
}

.table-details tr:last-child th {
    border-bottom-left-radius:3px;
    border-bottom: 1px solid silver;
}

.table-details tr:last-child td:first-child {
    border-bottom-left-radius:3px;
    border-bottom: none;
}

.table-details tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.table-details td {
    background:#FFFFFF;
    padding: 10px 200px 10px 10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:16px;
    color: black;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    border-left: none;
}

.table-details td:last-child {
    border-right: 0px;
}

.table-details th.text-left {
    text-align: left;
}

.table-details th.text-center {
    text-align: center;
}

.table-details th.text-right {
    text-align: right;
}

.table-details td.text-left {
    text-align: left;
}

.table-details td.text-center {
    text-align: center;
}

.table-details td.text-right {
    text-align: right;
}

.avgRange {
    display: flex;
    justify-content: center;
}

.avgRange input{
    width: 40px;
}

.font-red {
    color: red;
}

.font-blue {
    color: blue;
}
